.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.SongTracker {
  width: 80%;
  padding: 20px;
}

.SongTracker button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SongTracker button:hover {
  background-color: #3e8e41;
}

.create-new-song-btn {
  background-color:whitesmoke; /* green background */
  color: rgb(158, 65, 65); /* white text */
  border: black; /* no border */
  padding: 10px 10px; /* padding */
  font-size: 20px; /* font size */
  cursor: pointer; /* pointer cursor */
  border-radius: 200px; /* rounded corners */
  box-shadow: 0 0 10px rgba(234, 155, 72, 0.2); /* box shadow */
}

.create-new-song-btn:hover {
  background-color: #cc752e; /* darker green background on hover */
  transform: scale(1.05); /* scale up on hover */
  transition: all 0.3s ease-in-out; /* smooth transition */
}